//colors
$red: red;
$color_minsk_approx: rgb(51, 44, 136);
$color_medium_carmine_approx: rgb(163, 62, 62);
$white: white;
$color_cinnabar_approx: rgb(233, 37, 37);
$color_red_approx: rgb(252, 18, 18);
$color_hint_of_red_approx: rgb(252, 249, 249);
$color_shark_approx: #26272b;
$color_dove_gray_approx: #737373;
$color_silver_approx: #bbb;
$color_mariner_approx: #3366cc;
$color_tuna_approx: #33353d;
$color_gray_chateau_approx: #96a2b2;
$color_porcelain_approx: #eceeef;
$color_oslo_gray_approx: #818a91;
$color_dodger_blue_approx: #29aafe;
$color_chambray_approx: #3b5998;
$color_koromiko_approx: #fec564;
$color_indigo_approx: #5258cf;
$color_studio_approx: #893dc2;
$color_cerise_approx: #d9317a;
$color_blue_marguerite_approx: #6559ca;
$color_medium_red_violet_approx: #bc318f;
$color_cerise_red_approx: #e33f5f;
$color_crusta_approx: #f77638;
$color_persian_red_approx: #c4302b;